<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Monster</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2018.1.117/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2018.1.117/styles/kendo.bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark box-shadow">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="/"><i class="fas fa-chess-pawn fa-lg fa-fw"></i>Monster</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-dark btn-sm" href="/Account/Login" title="Login"><i class="fas fa-sign-in-alt fa-fw"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-dark btn-sm" href="/AuctionApp/Dashboard" title="Dashboard"><i class="fab fa-fort-awesome fa-fw"></i></a>
                        <a class="btn btn-dark btn-sm" href="/Account/Logoff" title="Logoff"><i class="fas fa-sign-out-alt fa-fw"></i></a>
                    }
                </span>
            </div>
        </div>
    </nav>
<main role="main">
    <div>
        @RenderBody()
    </div>
</main>
    <footer>
        <div class="bg-white pt-4 pb-4">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Monster</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/moment")
    <script src="http://kendo.cdn.telerik.com/2018.1.117/js/kendo.ui.core.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>